header{
    border-radius: 20px;
    background-color: aqua;
    padding: 20px;
}


.content{
    background-color: aquamarine;
    color: rgb(128, 10, 10);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}

nav{
    background-color: black;
    padding: 20px;
    margin-top: 10px;
}

nav a{
    background-color: rgb(135, 113, 156);
    color: aliceblue;
    padding: 5px;
}

nav :hover{
    background-color: blue;
    color: blueviolet;
}


img{
    padding: 20px;
    width: 400px;
    height: 500px; ;
}